<header>
    <div class="wrapper">
        <h1>Ô Petit Matin</h1>
            <nav>
                <ul class="nav_wrapper">
                    <li>
                        <a href="/">
                            Accueil
                        </a>
                    </li>
                    <li>
                        <a href="/menu">
                            Menu
                        </a>
                    </li>
                    <li>
                        Commande
                    </li>
                    <li>
                        <a href="/contact">
                            Contacts
                        </a>
                    </li>
                    <li>
                        À propos
                    </li>
                </ul>
            </nav>
    </div>
</header>
