<header>
    <div class="wrapper">
        <h1>Ô Petit Matin</h1>
            <nav>
                <ul class="nav_wrapper">
                    <li>
                        Accueil
                    </li>
                    <li>
                        Menu
                    </li>
                    <li>
                        Commande
                    </li>
                    <li>
                        Contacts
                    </li>
                    <li>
                        À propos
                    </li>
                </ul>
            </nav>
    </div>
</header>
