
<form class="form">
    <label>Nom*</label>
    <input type="text" required>
    <label>Prénom*</label>
    <input type="text" required>
    <label>Adresse couriel*</label>
    <input type="email" required>
    <label>Téléphone</label>
    <input type="text">
    <label>Votre message</label>
    <input type="text" required>
    <input type="submit" value="Envoyer" class="contact_button">
</form>